<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.springmvc.mapper.NewstyepMapper">
  <select id="selectAll" resultType="Newstyep">
  SELECT 
  `typeId`,
  `typeName` 
FROM
  `news`.`newstyep`;
  </select>
</mapper>
