<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.springmvc.mapper.ChapterMapper">

<select id="selectById" resultType="Chapter">
SELECT * FROM `chapter` WHERE `curriculumId`=#{curriculumId}

</select>

<select id="selectChapterId" resultType="Chapter">
SELECT * FROM `chapter` WHERE `chapterId`=#{chapterId}
</select>
</mapper>
