<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.springmvc.mapper.CollectMapper">
  <select id="selectById" resultType="Collect">
  SELECT * FROM `collect` WHERE `userId`=#{userId} AND `subjectId`=#{subjectId}
  </select>
  <insert id="insertCollect">
  INSERT INTO `yuntoku`.`collect` (
  `userId`,
  `subjectId`,
  `collectTime`
) 
VALUES
  (
    #{userId},
    #{subjectId},
    #{collectTime}
  ) ;
  </insert>
  
  
  <update id="updateCollect">
  
  UPDATE `collect` SET `collectTime`=#{collectTime} WHERE `userId`=#{userId} AND `subjectId`=#{subjectId}
  </update>
</mapper>
