<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.springmvc.mapper.UserMapper">
 <insert id="insert" parameterType="Users"
  	useGeneratedKeys="true" keyProperty="userId">
 INSERT INTO `yuntoku`.`users` (
  `account`,
  `passWord`,
  `userName`,
  `registerTime`,
  `classesId`
) 
VALUES
  (
    #{account},
    #{passWord},
    #{userName},
    #{registerTime},
    #{classesId}
  ) ;
 </insert>
 
 <select id="selectById" resultType="Users">
 SELECT * FROM `users` WHERE `account`=#{account} AND `passWord`=#{passWord};
 </select>
</mapper>
